 <!-- Wrapper -->
<div id="wrapper">

	<!-- Header -->
		<header id="header" class="alt center-align">
			<% if current_user.nil? %>
				<span class="logo"><%= image_tag("logo-grimoire.png", class:"grimoire_logo_home") %></span>
				<h2 class="white-text">Grimoire</h2>
				<h3 class="white-text">Never miss a chapter again</h3>
				<%= link_to 'Log In', new_user_session_path, class:"waves-effect waves-light btn-large transparent hp-btn" %>
				<%= link_to 'Sign Up', user_registration_path, class:"waves-effect waves-light btn-large transparent hp-btn" %>
			<% end %>
		</header>

	<div class="container home_main_container">
		<!-- Nav -->
		<%= render "layouts/navbar"%>

		<!-- Main -->
		<div class="home_content">
			<div id="main">

			<!-- Introduction -->
				<section id="intro" class="main">
					<div class="spotlight">
						<div class="content">
							<header class="major">
								<h2>Newest Updates</h2>
							</header>
							<div class="latests_list_container thumbnails">
								<ul class="actions latests_list">
								<div class="row center-align">
									<% @latests.first(4).each do | singleManga |%>
									<div class="col s3">
										<li>
											<%= link_to image_tag(singleManga.manga_img.cover_img_url, class:"cover-img" ), manga_path(singleManga)%>
											<%= link_to singleManga.title, manga_path(singleManga)%>
										</li>
									</div>
									<% end %>
								</div>
								<div class="row">
									<% @latests[4..7].each do | singleManga |%>
									<div class="col s3">
										<li>
											<%= link_to image_tag(singleManga.manga_img.cover_img_url), manga_path(singleManga) %>
											<%= link_to singleManga.title, manga_path(singleManga)%>
										</li>
									</div>
									<% end %>
								</div>
								</ul>
							</div>
						</div>
					</div>
				</section>

				  <div class="divider"></div>
			<!-- First Section -->
				<section id="first" class="main special">
					<div class="container">
						<header class="major">
							<h2>What has updated recently</h2>
						</header>
						<ul class="features">
							<% @latests[8..-1].each do | singleManga | %>
								<li><%= link_to singleManga.title, manga_path(singleManga) %></li>
								<br>
							<% end %>
						</ul>
					</div>
				</section>
			</div>
		</div>
	</div>
</div>