<!-- Wrapper -->
<div id="wrapper">

	<!-- Header -->
		<header id="header" class="alt center-align">
			<% if current_user.nil? %>
				<span class="logo"><%= image_tag("logo-grimoire.png", class:"grimoire_logo_home") %></span>
				<h2 class="white-text">Grimoire</h2>
				<h3 class="white-text">Never miss a chapter again</h3>
				<%= link_to 'Log In', new_user_session_path, class:"waves-effect waves-light btn-large transparent hp-btn" %>
				<%= link_to 'Sign Up', user_registration_path, class:"waves-effect waves-light btn-large transparent hp-btn" %>
			<% end %>
		</header>

	<div class="container home_main_container">
		<!-- Nav -->
		<%= render "layouts/navbar"%>

		<!-- Main -->
		<div class="home_content">
			<div id="main">

			<!-- Introduction -->
				<section id="intro" class="main">
					<div class="spotlight">
						<div class="content">
							<header class="major">
								<h2>Newest Updates</h2>
							</header>
							<ul class="actions">
								<% @latests.first(10).each do | singleManga |%>
									<li><%= singleManga.title %></li>
								<% end %>
							</ul>
						</div>
					</div>
				</section>

			<!-- First Section -->
				<section id="first" class="main special">
					<header class="major">
						<h2>What has updated recently</h2>
					</header>
					<ul class="features">
						<% @latests[10..-1].each do | singleManga | %>
							<li><%= singleManga.title %></li>
						<% end %>
					</ul>
					<footer class="major">
						<ul class="actions">
							<li><a href="generic.html" class="button">Learn More</a></li>
						</ul>
					</footer>
				</section>

			<!-- Get Started -->
				<section id="cta" class="main special">
					<header class="major">
						<h2>Congue imperdiet</h2>
						<p>Donec imperdiet consequat consequat. Suspendisse feugiat congue<br />
						posuere. Nulla massa urna, fermentum eget quam aliquet.</p>
					</header>
					<footer class="major">
						<ul class="actions">
							<li><a href="generic.html" class="button special">Get Started</a></li>
							<li><a href="generic.html" class="button">Learn More</a></li>
						</ul>
					</footer>
				</section>

			</div>
		</div>
	</div>
</div>
	<!-- Footer -->
<div class="container footer-container">
	<footer id="footer">
		<section>
			<h2>Thank you for using Grimoire</h2>
			<p>Grimoire is a web app designed by Matheus Scharf Heil as his final project for the Iron Hack Partime Bootcamp. 
				<ul>
					<li>Ruby on Rails</li>
					<li>Ruby</li>
					<li>JavaScript</li>
					<li>HTML5</li>
					<li>CSS</li>
				</ul>
			</p>
		</section>
		<section>
			<h2>Contact</h2>
			<dl class="alt">
				<dt>Email:</dt>
				<dd>grimoiremaster@gmail.com</dd>
			</dl>
			<ul class="icons">
				<li><a href="#" class="icon fa-twitter alt"><span class="label">Twitter</span></a></li>
				<li><a href="#" class="icon fa-facebook alt"><span class="label">Facebook</span></a></li>
				<li><a href="#" class="icon fa-instagram alt"><span class="label">Instagram</span></a></li>
				<li><a href="#" class="icon fa-github alt"><span class="label">GitHub</span></a></li>
				<li><a href="#" class="icon fa-dribbble alt"><span class="label">Dribbble</span></a></li>
			</ul>
		</section>
	</footer>
</div>
