<div class="container home_main_container">
	<!-- Navbar -->
	<%= render 'layouts/navbar'%>
	
	<!-- Main -->
	<div class="container">
		<section class="row">
			<h1><%= @manga.title %></h1>
			<div class="col s6">
				
				<div class="row center">
					<img src="<%= @img %>" class="manga_cover">
				</div>
				<div class="row center">
				<% if current_user.nil? %>
					<%= link_to 'Log In to Add this Manga', new_user_session_path, class:"waves-effect waves-light btn-large transparent grey-text text-darken-4 mp-btn"%>
				<% else %>
					<% if current_user.mangas.find_by(id: @manga.id).nil? %>
						<button id="add-btn" class="waves-effect waves-light btn-large transparent grey-text text-darken-4 mp-btn" data-id="<%= @manga.id%>">
							Add to Grimoire
						</button>
						<button id="delete-btn" class="waves-effect waves-light btn-large transparent grey-text text-darken-4 mp-btn hide" data-id="<%= @manga.id%>">
							Delete From Grimoire
						</button>
					<% else %>
						<button id="add-btn" class="waves-effect waves-light btn-large transparent grey-text text-darken-4 mp-btn hide" data-id="<%= @manga.id%>">
							Add to Grimoire
						</button>
						<button id="delete-btn" class="waves-effect waves-light btn-large transparent grey-text text-darken-4 mp-btn" data-id="<%= @manga.id%>">
							Delete From Grimoire
						</button>
					<% end %>
				<% end %>
			</div>
			</div>
			<div class="col s6">
				<ul class="manga_info">
					<li><h5># of Chapters:</h5> <h5><small><%= @manga.total_chapters %></small></h5></li>
					<li><h5>Last Updated:</h5> <h5><small><%= @manga.posted_date %></small></h5></li>	
				</ul>
				<ul class="manga_info"><h5>Author(s):</h5>
					<% @author.each do | singleAuthor | %> 
						<li><h5><small><%= singleAuthor.name %></small></h5></li>	
					<% end %>
				</ul>
				<ul class="manga_info"><h5>Artists(s):</h5>
					<% @artist.each do | singleArtist | %> 
						<li><h5><small><%= singleArtist.name %></small></h5></li>	
					<% end %>
				</ul>
			</div>
		</section>

	  <div class="divider"></div>

		<section class="manga_chapters">
			<h3>Chapters:</h3>
			<ul>
			</ul>
		</section>

	</div>

</div>