<div class="container home_main_container">
	<!-- Wrapper -->
	<div id="wrapper">
		<!-- Nav -->
		<%= render 'layouts/navbar'%>

		<!-- Main -->
		<div class="home_content">
			<!-- First Section -->
				<section id="first" class="main special thumbnails">
					<header>
						<h2>Here's what updated</h2>
					</header>
					<ul class="updated_mangas">
						<% if @latests_mangas.empty? %>
							<p>Nothing has updated ...<br>
							Time to look for more:</p>
							<%= link_to('Look For Mangas', mangas_path, class:"waves-effect waves-light btn white grey-text text-darken-1")%>
						<% else %>
							<ul class="actions latests_list">
							<div class="row">
								<% @latests_mangas.first(4).each do | singleManga |%>
								<div class="col s3">
									<li>
										<%= link_to image_tag(singleManga.manga_img.cover_img_url), manga_path(singleManga), class: 'update_read_js', data: {id: singleManga.id} %>
										<%= link_to singleManga.title, manga_path(singleManga), class: 'update_read_js', data: {id: singleManga.id} %>
									</li>
								</div>
								<% end %>
							</div>
						<% end %>
					</ul>
				</section>

				  <div class="divider"></div>

			<!-- Second Section -->
				<section id="second" class="main special">
					<div class="container">
					<header class="major">
						<h2>My List</h2>
					</header>
						<ul class="full_manga_list">
							<% @mangas.each do | singleManga | %>
								<li><%= link_to singleManga.title, manga_path(singleManga) %></li>
								<br>
							<% end %>
						</ul>
					</div>
				</section>
		</div>
	</div>
</div>